
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f9;
    color: #333;
}


header {
    background-color: #0a3d62;
    color: white;
    padding: 20px;
    text-align: center;
}


nav {
    background-color: #1e3799;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}


.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: white;
    min-height: 400px;
}


footer {
    background-color: #0a3d62;
    color: white;
    text-align: center;
    padding: 10px;
}
 